*{
    
    transition: all 0.3s;
}
.heading{
    background-color: rgba(255, 255, 255, 0.663);
    display: flex;
    align-items: center;
    width: 100%;
    height: 94px;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
   border-bottom: 1px solid #c9b9997c ;
}
.bg-heading{
    background-color: #ffffff;
}
.font-heading{
    font-size: 22px;
}
.img-1{
    width: 10%;
    height: 85px;
}
.heading-1{
  font-size: 20px;
  width: 50%;
  height: 29px;
}
.heading-1 a{
    margin-right: 30px;
    text-decoration: none;
    color: black;
}
.heading-1 a:hover{
    color: orange;
    font-size: 24px;
}
.heading-user{
    text-align: center;
    justify-content: center;
    display: flex;
}
.heading-user a{
    font-size: 18px;
    margin-top: 15px;
}
.heading-user  img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.heading-user a:hover{
    color: rgba(242, 99, 11, 0.738);
}
.heading-user a:active{
    color: rgba(248, 96, 8, 0.351);
}
.seach{
    width: 15%;
   position: relative;
   display: flex;
   align-items: center;
}
.seach img{
    width: 26px;
    height: 26px;
    position: absolute;
    left: 10px;
}
.seach input{
    border: 1px solid #c9b999a6;
    font-size: 14px;
    flex: 1;
    border-radius: 30px;
    padding: 10px 50px;
}
.img-2{
    margin-left: 100px;
}
.img-2 img{
    width: 26.25px;
    height: 28.33px;
}
.heading-2{
    margin-left: 50px;
}
.content{
    margin-top: 10rem;
    margin-left: 3rem;
}
.dong1{
    display: flex;
    width: 100%;
    height: 40rem;
    margin-top: 5rem;
}
.dong1 h2{
 color: orange;
 font-size: 25px;
}
.dong1 p{
    color: rgb(40, 247, 12);
    font-size: 20px;
}
.amnhac1 {
    height: 30rem;
    width: 30%;
    margin-right: 3rem;
}
.amnhac1 img{
    width: 30rem;
    height: 20rem;

}
.amnhac2{
    height: 50rem;
    width: 30%;
    margin-right: 3rem;
}
.amnhac2 img{
    width: 30rem;
    height: 20rem;
}
.amnhac3{
    height: 50rem;
    width: 30%;
}
.amnhac3 img{
    width: 30rem; 
    height: 20rem;
}
.dong2{
    display: flex;
    width: 100%;
    height: 40rem;
}
.dong2 h2{
    color: orange;
    font-size: 25px;
   }
.dong2 p{
       color: rgb(40, 247, 12);
       font-size: 20px;
   }
.end{
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(18, 223, 18);
}
.img-tk{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
.img-use{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.img-camera{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 53%;
    top: 70%;
}
.modal-tk{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
   background-color: #99999952;
   align-items: center;
   justify-content: center;
   max-width: (100%-32px);
   display: none;
}
.modal-tk.open{
    display: flex;
}
.modal-body-tk{
    width: 25%;
    height: 600px;
    background-color: white;
    border-radius: 20px;
    margin-top: 5%;
}
.modal-heading-tk{
    width: 100%;
    display: flex;
    text-align: end;
    justify-content: end;
    background-color: rgba(0, 0, 255, 0.801);
}
.modal-heading-tk p{
    margin-right: 32%;
    font-size: 20px;
    color: #ffffff;
    
}
.modal-close{
    margin-right: 15px;
    cursor: pointer;
    background: none;  /* Xóa màu nền */
    border: none;      /* Xóa viền */
    outline: none; 
    font-size: 25px;
}
.modal-content-tk{
   
   margin-left: 15%;
   position: relative;
}
.hoten-tk{
    display: flex;
    
}
.hoten-tk input{
    margin-right: 5px;
    width: 36%;
}
.modal-content-tk input{
    height: 25px;
    border-radius: 10px;
}
.email-tk{
    width: 75%;
}
.matkhau-tk{
    display: block;
}
.matkhau-tk input{
    width: 75%;
    margin-bottom: 5px;
}
.luu-tk{
    margin-top: 10px;
    width: 77%;
    border-radius: 10px;
    height: 30px;
    background-color: blue;
    color: #ffffff;
}