@media(min-width: 1025px){
    .pc{
    }
}
@media(min-width: 1300px){
}
@media(max-width: 1150px) and (min-width: 740px){
 .ipad{
 }
 .heading{
    overflow: visible;
 }
 .heading-1{
   width: 150px;
   overflow: hidden;
   height: 40px;
   padding-left: 5px;
 }
 .heading-1.open{
    overflow: visible;
 }
 .heading-1 a{
    font-size: 18px;
   margin-right: 5px;
   font-size: 20px;
   margin-right: 5px;
   display: flex;
   font-weight: bold;
   height: 80px;
   padding: 10px;
 }
 .heading-1.open a{
    background-color: #9999997c;
}
 .down{
    display: flex;
 }
 .down:hover{
    background-color: #9999997d;
 }
 .down:active{
   background-color: rgba(0, 0, 0, 0.37);
 }
.img-1 img{
    width: 50px;
    height: 50px;
    margin-top: 20px;
}
.seach{
    width: 5%;
    margin-left: 50px;
}
.seach input{
    font-size: 20px;
    padding: 10px 40px;
}
.img-2{
    margin-left: 300px;
}
.content p{ 
    margin-right: 65%;
     font-size: 18px;
     display: flex;
 }
}
@media(max-width: 740px){
    .heading{
        height: 80px;
        width: 100%;
        overflow: hidden;
    }
    .img-1 img{
        width: 50px;
        height: 50px;
        margin-top: 20px;
    }
    .heading-1{
        width: 100px;
    }
    .heading-1 a{
      display: none;
    }
    .seach{
        width: 0;
        height: 0;
        overflow:hidden;
    }
    .img-2{
        margin-left: 0;
    }
    .content p{ 
       margin-right: 35%;
        font-size: 18px;
        display: flex;
    }
    .modal-body{
        width: 60%;
    }
    .modal-body-dangki{
        width: 60%;
    }
    .index-images{
        margin-bottom: -180px;
    }
    .imgcontent-2{
        width: 300px;
        height: 200px;
    }
    .imgcontent-3{
        width: 300px;
        height: 200px;
    }
    .imgcontent-4{
        width: 300px;
        height: 200px;
    }
    .imgcontent-5{
        width: 300px;
        height: 200px;
    }
    .imgcontent-6{
        width: 300px;
        height: 200px;
    }
}
